/* Применение шрифта ко всем текстовым элементам */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.drinks-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 напитка в строке */
    gap: 20px;
}

.drink-item {
    text-align: center;
    border: 1px solid #ddd; /* Тонкая рамка */
    padding: 10px;
    background-color: #fff; /* Белый фон */
    cursor: move; /* Указатель, что элемент можно перетаскивать */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.drink-item.dragging {
    opacity: 0.5; /* Прозрачность при перетаскивании */
}

.drink-item img {
    width: 200px; /* Ширина изображения */
    height: 300px; /* Высота изображения */
}

.quantity-button {
    background-color: #ddd;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.quantity-button:hover {
    background-color: #ccc;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.button.back {
    background-color: yellow;
    border-color: yellow;
    color: black;
}

.button.save-enabled {
    background-color: lime;
    border-color: lime;
    color: black;
}

.button.save-disabled {
    background-color: lightgray;
    border-color: lightgray;
    color: darkgray;
    cursor: not-allowed;
}

.button-text {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Распределяет кнопки по разным сторонам */
    margin-top: 20px; /* Отступ сверху, чтобы кнопки не прилипали к содержимому таблицы */
}
