/* Применение шрифта ко всем текстовым элементам */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

td, th {
    padding: 10px;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Распределяет кнопки по разным сторонам */
    margin-top: 20px; /* Отступ сверху, чтобы кнопки не прилипали к содержимому таблицы */
}

.button-text {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.button.back {
    background-color: yellow;
    border-color: yellow;
    color: black;
}

.button.next-enabled {
    background-color: lime;
    border-color: lime;
    color: black;
}

.button.next-disabled {
    background-color: lightgray;
    border-color: lightgray;
    color: darkgray;
    cursor: not-allowed;
}

/* Ширина текстового поля */
input[type="number"] {
    width: 60px; /* Ширина текстового поля для ввода */
    text-align: center;
}

.quantity-button {
    background-color: #ddd;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.quantity-button:hover {
    background-color: #ccc;
}

.payment-info {
    display: flex;
    justify-content: center; /* Центрируем элементы по горизонтали */
    align-items: center; /* Выравниваем по вертикали */
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

.payment-info p {
    margin-right: 50px; /* Добавляем отступ справа от "К оплате" */
}

.payment-info p:last-child {
    margin-right: 0; /* Убираем отступ для последнего элемента (Внесено) */
}

.amount-status.red {
    color: red;
}

.amount-status.green {
    color: green;
}
