table {
    width: 100%;
    margin-bottom: 20px;
}

td, th {
    padding: 10px;
    text-align: center;
}

button {
    padding: 5px 10px;
    margin: 5px;
}

#payButton {
    background-color: lightgray;
    color: darkgray;
}

    #payButton:enabled {
        background-color: limegreen;
        color: white;
    }
