@model ChangeViewModel

<div class="change-wrapper">
    <h1 class="center-text">Спасибо за покупку!</h1>
    @if (Model.change > 0)
    {
        <p class="center-text">Ваша сдача: @Model.change руб.</p>
        <div id="changeContainer" class="change-container"></div>
    }

    <div class="button-container">
        <button id="storeButton" class="button back" onclick="window.location.href = '/Store/Index'">
            <span class="button-text">Каталог</span>
        </button>
    </div>
</div>

<!-- Скроем сумму сдачи и список монет для использования в JS -->
<div id="changeAmount" data-amount="@Model.change" style="display: none;"></div>
<div id="changeCoins" data-coins='@Html.Raw(Json.Serialize(Model.coins))' style="display: none;"></div>

<script src="~/js/change.js"></script>
<link rel="stylesheet" href="~/css/change.css">
