<div class="no-change-wrapper">
    <h1 class="center-text">Извините, в данный момент мы не можем продать вам товар по причине того, что автомат не может выдать вам нужную сдачу</h1>
    <div class="button-container">
        <button id="storeButton" class="button back" onclick="window.location.href = '/Store/Index'">
            <span class="button-text">Каталог</span>
        </button>
    </div>
</div>

<link rel="stylesheet" href="~/css/change.css">