@model StoreViewModel

<h1>Газированные напитки</h1>

<!-- Выпадающий список брендов -->
<div>
    <label for="brandFilter">Бренд:</label>
    <select id="brandFilter" name="brandFilter" onchange="filterDrinks()">
        <option value="">Все бренды</option>
        @foreach (var brand in Model.brands)
        {
            <option value="@brand.id">@brand.name</option>
        }
    </select>
</div>

<!-- Слайдер изменения ценового диапазона-->
<div>
    <label for="slider">Ценовой диапазон:</label>
    <div id="slider" style="margin-bottom: 10px;"></div>
    <span id="minPriceValue">0</span> руб. — <span id="maxPriceValue">500</span> руб.
    <input type="hidden" id="minPrice" value="0" />
    <input type="hidden" id="maxPrice" value="500" />
</div>

<!-- Кнопка корзины
<div style="text-align: right; margin-bottom: 20px;">
    <a href="/Bucket/Bucket" id="cartButton" class="button bucket-disabled">
        <span class="button-text">Не выбрано</span>
    </a>
</div>-->

<div style="text-align: right; margin-bottom: 20px;">
    <button id="cartButton" class="button bucket-disabled" onclick="window.location.href='/Bucket/Bucket'">
        <span class="button-text">Не выбрано</span>
    </button>
</div>

<!-- Контейнер для отображения напитков -->
<div id="drinksContainer">
    @await Html.PartialAsync("_DrinkListPartial", Model.drinks)
</div>

<!-- Подключение стилей и скриптов -->
<link rel="stylesheet" href="~/css/index.css">
<script src="~/js/index.js"></script>

<script src="~/js/nouislider-bundle.js"></script>

