<!-- Index.cshtml -->
@model StoreViewModel

<h1>Газированные напитки</h1>

<!-- Фильтр по брендам -->
<div>
    <label for="brandFilter">Бренд:</label>
    <select id="brandFilter" name="brandFilter" onchange="filterDrinks()">
        <option value="">Все бренды</option>
        @foreach (var brand in Model.brands)
        {
            <option value="@brand.id">@brand.name</option>
        }
    </select>
</div>

<!-- Ползунки для минимальной и максимальной цены -->
<div>
    <label for="minPrice">Минимальная цена:</label>
    <input type="range" id="minPrice" name="minPrice" min="0" max="500" value="0" oninput="updateMinPriceValue(this.value)">
    <span id="minPriceValue">0</span> руб.
</div>

<div>
    <label for="maxPrice">Максимальная цена:</label>
    <input type="range" id="maxPrice" name="maxPrice" min="0" max="500" value="500" oninput="updateMaxPriceValue(this.value)">
    <span id="maxPriceValue">500</span> руб.
</div>

<!-- Добавить кнопку корзины в правую верхнюю часть страницы -->
<div style="text-align: right; margin-bottom: 20px;">
    <button id="cartButton" class="button bucket-disabled">
        <span class="button-text">Не выбрано</span>
    </button>
    <a href="/Store/Bucket" style="display:none;" id="cartLink">Корзина</a>
</div>

<!-- Контейнер для отображения напитков -->
<div id="drinksContainer">
    @await Html.PartialAsync("_DrinkListPartial", Model.drinks)
</div>

<!-- Подключение стилей и скриптов -->
<link rel="stylesheet" href="~/css/index.css">
<script src="~/js/index.js"></script>
